body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    vertical-align: middle;
    width: 320px;
    margin: auto;
    gap: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    margin: 0px;
    vertical-align: middle;
    height: 48px;
}

.backspace {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 5;
}

.delete {
    grid-column-start: 1;
    grid-column-end: 3;
}

.display {
    background-color: rgb(224, 224, 224);
    grid-column-start: 1;
    grid-column-end: 5;
    height: 64px;
}